.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.container--narrow {
  max-width: 960px;
}

.section-break {
  border: none;
  border-top: 1px solid #DDD;
  margin: 2.5rem 0;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.p-top-small {padding-top: 1rem}
.p-top-large {padding-top: 1.6rem}
.p-bottom-small {padding-bottom: 1rem}
.p-bottom-large {padding-bottom: 1.6rem}

@mixin atSmall {
  .p-top-large {padding-top: 3.5rem}
  .p-bottom-large {padding-bottom: 3.5rem}
}

.no-margin {margin: 0}
.nu {text-decoration: none}
.nu:hover {text-decoration: underline}

.t-left {text-align: left}
.t-right {text-align: right}
.t-center {text-align: center}


.t-small {font-size: .85rem}

.float-left {float: left}
.float-right {float: right}
.push-right {margin-right: 20px}

.container:before,
.container:after,
.group:before,
.group:after {
  content: " ";
  display: table;
}

.container:after,
.group:after {
  clear: both;
}

.hide {
  display: none;
}